
#my-responsive-table th, td {
	text-align: center;
}

#my-responsive-table th { 
	/* Style table header */
}



@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#my-responsive-table table, 
	#my-responsive-table thead, 
	#my-responsive-table tbody, 
	#my-responsive-table th, 
	#my-responsive-table td, 
	#my-responsive-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#my-responsive-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	#my-responsive-table tr { 
		border: 1px solid #ccc; 
	}
 
	#my-responsive-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align: right;
	}
 
	#my-responsive-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#my-responsive-table td:before { content: attr(data-title); }
}
